.item-library {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.text-h1:hover{
   color:rgba(0, 0, 0, 0.445);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
}
